@tailwind base;
@tailwind components;
@tailwind utilities;

*,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

h1,
h2,
.detail {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-wrap: balance;
}

h1 {
  font-size: 7vw;
  letter-spacing: 0em;
  line-height: 6.8vw;
}

h2 {
  font-size: 2vw;
  letter-spacing: 0em;
  line-height: 1.9vw;
}

p,
.unique {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

/* Typography */
@layer base {
  *,
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: normal;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  body {
    background: #000;
    overscroll-behavior: none;
  }

  /* iOS Specific */
  @supports (-webkit-touch-callout: none) {
    body {
      -webkit-text-size-adjust: none;
      text-size-adjust: none;
    }
  }
}

/* Components */
@layer components {
}

:root {
  --background: #000;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
